<style type="text/css">
#ga-widget {
    position: relative;
    margin: 0 -10px -10px;
    border: 0;
}
#ga-panel2, #ga-panel3 {
    display: none;
}
#ga-widget-buttons {
    margin-bottom: 20px;
}
#ga-widget .table {
    margin-bottom: 0;
}
#ga-chart {
    position: relative;
    width: 100%;
    margin-bottom: 10px;
}
</style>
<div id="ga-widget" class="panel panel-default panel-analytics">
    <div class="panel-heading">
        <i class="fa fa-fw fa-line-chart"></i> {{ __("Google Analytics for %start% - %end%.", {'%start%':caption.start, '%end%':caption.end}) }}
    </div>
    <div class="panel-body">
        <div id="ga-widget-buttons" class="btn-group center">
            <button class="btn btn-xs active" data-id="ga-panel1">{{ __('Summary') }}</button>
            <button class="btn btn-xs" data-id="ga-panel2">{{ __('Top pages') }}</button>
            <button class="btn btn-xs" data-id="ga-panel3">{{ __('Top sources') }}</button>
        </div>

        <div id="ga-panel1">
            <div id="ga-chart"></div>
            <table class="table table-condensed table-striped">
                <thead>
                    <tr><th colspan="2">{{ __('Summary') }}</th></tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{ __('Total pageviews') }}:</td>
                        <td>{{ aggr.pageviews }} ({{ aggr.pageviewspervisit }} per visit)</td>
                    </tr>
                    <tr>
                        <td>{{ __('Total visitors') }}:</td>
                        <td>{{ aggr.visitors }}</td>
                    </tr>
                    <tr>
                        <td>{{ __('Time on page') }}:</td>
                        <td>{{ aggr.timeonpage }} min. </td>
                    </tr>
                    <tr>
                        <td>{{ __('Bounce/Exitrate') }}:</td>
                        <td>{{ aggr.bouncerate }}% / {{ aggr.exitrate }}%</td>
                    </tr>
                </tbody>
            </table>
        </div><!-- panel1 -->

        <div id="ga-panel2">
            <table class="table table-striped">
                <thead>
                    <tr><th colspan="2">{{ __('Top pages') }}</th></tr>
                </thead>
                <tbody>
                {% for page in pages %}
                    <tr>
                        <td align="right">{{ page.visits }}</td>
                        <td><a href="http://{{ page.host }}" target="_blank">{{ page.host|trimtext(35) }}</a></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div><!-- panel2 -->

        <div id="ga-panel3">
            <table class="table table-striped">
                <thead>
                    <tr><th colspan="2">{{ __('Top sources') }}</th></tr>
                </thead>
                <tbody>
                {% for page in sources %}
                    <tr>
                        <td align="right">{{ page.visits }}&nbsp;</td>
                        <td>{% if page.link %}
                            <a href="http://{{ page.host }}" target="_blank">{{ page.host|trimtext(35) }}</a></td>
                        {% else %}
                            {{ page.host|trimtext(35) }}
                        {%  endif %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div><!-- panel3 -->
    </div>
</div>

<script>
    (function($) {
        // Google Chart API line chart
        var data = new google.visualization.DataTable();
        data.addColumn('string', '{{ __("Day") }}');
        data.addColumn('number', '{{ __("Pageviews") }}');
        data.addColumn('number', '{{ __("Visitors") }}');
        data.addRows({{ pageviews|json_encode|raw }});

        var element = document.getElementById('ga-chart');
        var chart = new google.visualization.AreaChart(element);

        // Responisve charts
        var last = 0;
        var drawChart = function () {
            var width = $('#ga-chart').width();
            var height = parseInt(width*0.6);

            if (width === last) return false;
            if (height > 180) height = 180;

            chart.draw(data, {
                width: width,
                height: height,
                colors: ['#22AADD', '#FFAA00'],
                areaOpacity: 0.1,
                hAxis: {textPosition: 'in', showTextEvery: 3, slantedText: true, textStyle: { color: '#262524', fontSize: 10 } },
                pointSize: 5,
                chartArea:{left:40,top:5,width:(width-34).toString(),height:(height-10).toString()}
            });
        }
        $(window).on('resize', drawChart);

        // Initial call
        drawChart();

        // Events for the buttons
        $(document).on('click', '#ga-widget-buttons button', function() {
            $('#ga-widget-buttons button').removeClass('active');
            $(this).addClass('active');

            $('#ga-panel1, #ga-panel2, #ga-panel3').hide();
            $('#'+$(this).data('id')).show();
        });

    })(jQuery);
</script>
